
body {
  font-size: 10px;
  font-family: Roboto, sans-serif;
 
  margin: 0;
  display: grid;
  height: 100vh;
  place-items: center;
}
#strip {
  background: url('./dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg');
  background-color: #707070;
  background-blend-mode: multiply;
  background-size: cover;
}
.head {
  font-size: 2em;
  margin-top: -10px;
  margin: 20px;
}
.top-div {
  background-image: url('./pexels-erik-mclean-6654177.jpg');
  background-blend-mode: multiply;
  background-color: #5b5b5b;
  height: 100vh;
  
  background-size: cover;
}
/* AttractiveHeading.css */
.heading {
  text-align: center;
  padding: 50px 20px;
  /* background-color: #3f51b5; */
  color: #fff;
}
.shareBtn {
  position: fixed;
  right: 0px;
  margin: 10px;
  width: 100px;
  border-radius: 6px;
  height: 28px;
  outline: none;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(8px 8px 0px #000);
  font-family: Roboto, sans-serif;
  cursor: pointer;
  z-index: 100;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
}
h5 {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}
img {
  margin-top: 50px;
}

.c-checkbox {
  display: none;
}

.c-checkbox:checked + .c-formContainer .c-form {
  width: 37.5em;
}

.c-checkbox:checked + .c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}

.c-checkbox:checked + .c-formContainer .c-form__input,
.c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
  transition: 0.2s 0.1s;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.delete-btn {
  width: 150px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(8px 8px 0px #000);
  font-family: Roboto, sans-serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 90px;
  border-radius: 8px;
  position: relative;
}
.delete-btn:hover {
  transform: scaleZ(0.6);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.c-formContainer,
.c-form,
.c-form__toggle {
  width: 20em;
  height: 6.25em;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
  display: flex;
  margin: auto;
  justify-content: center;
  padding: 10px;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: #ffffff;
  transition: 0.2s;
}

.c-form {
  /* left: 100%; */
  padding: 20px;
  /* transform: translateX(-50%); */
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.c-form__toggle {
  color: #252525;
  top: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-form__toggle::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

.c-form__input,
.c-form__buttonLabel {
  font-size: 1.75em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: #000000;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
}

.c-form__buttonLabel {
  color: #ffffff;
  height: 100%;
  width: auto;
}
.c-form__buttonLabel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: #000000;
  cursor: pointer;
  transition-duration: 0.4s;
}

.c-form__button:hover {
  background-color: #ff7b73;
  color: #000000;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #343434;
  width: 50px;
  margin: auto;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 50px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (max-width: 786px) {
  .vertical-line {
    display: none;
  }
  .vertical-line1 {
    display: none;
  }
  
}